.form_elements {
  display: flex;
  gap: 1rem;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.17); */
}

.form {
  text-align: left;
  min-width: 0;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .form_elements {
    flex-direction: column;
  }
}

.table {
  background-color: rgba(175, 175, 175, 0.8);
  border-radius: 12px;
}
